.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(114, 19, 234);

    padding: 20px 0;
    border-bottom: 1px solid #e0e0e0;

    &__logo {
        margin-left: 20px;
    }

    &__nav {
        display: flex;
        align-items: center;

        &__item {
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__button {
        margin-right: 20px;
        background-color: white;
    }
}